nav.navbar.navbar-expand-lg.navbar-light.py-5#navbar-main
    //- .fixed-top
    .container
        a.navbar-brand( href="#")
            .h2
                span.font-weight-bold.sans-serif Interactive
                span.font-weight-light Agency
        button.navbar-toggler.mb-2(data-target='#main-nav', data-toggle='collapse', aria-controls='main-nav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse.text-dark#main-nav
            ul.navbar-nav.ml-auto
                li.nav-item.active.active-page
                    a.nav-link.scroll(href='#')
                        Item.font-weight-bold Home
                        span.sr-only (Atual)
                -
                    var itens = [ 
                            { name: "About us", id: "about-us"},
                            { name: "Offer", id: "code-design" },
                            { name: "Portfolio", id: "works-carousel" },
                            { name: "Contact", id: "footer-info"}
                        ];
                each item in itens
                    li.nav-item
                        a.nav-link.text-dark.scroll(href='#'+ item.id )
                            Item=item.name