include component/gradient-button.pug

mixin carouselAtributes( itemName, index )
    .col-12.col-lg-4.px-0( id="slide-layer-" + index )
        .carousel-custom-caption.text-white.text-center.my-5.p-5.d-none.position-relative( alt="Slide "+ index )
            h5.mb-3= itemName
            p.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam esse aperiam aliquid rem ipsum assumenda? 
            +gradient-button( "Watch More" )
            
// INIT OUR WORKS
section.container-fluid.px-0
    .carousel.slide#works-carousel(data-ride='carousel' data-interval='1000000')
        .carousel-inner.row.inner-row
            .carousel-item.px-0.active
                +carouselAtributes( "Dronze Zone Layout", "1" )
            .carousel-item.px-0
                +carouselAtributes( "Neptune Template", "2" )
            .carousel-item.px-0
                +carouselAtributes( "FitApp Layout", "3" )
        a.carousel-control-prev(href='#works-carousel', data-slide='prev', role='button')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Anterior
        a.carousel-control-next(href='#works-carousel', data-slide='next', role='button')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Próximo
// /END OUR WORKS