section.container-fluid
    .row
        .col.col-sm-12.col-md-6
            .card
                .card-header
                    Header
                .card-body
                    h5.card-title Title
                    p.card-text Content
                .card-footer
                    Footer
        .col.col-sm-12.col-md-6
            .card
                .card-header
                    Header
                .card-body
                    h5.card-title Title
                    p.card-text Content
                .card-footer
                    Footer