section.container
    .row
        .col.col-sm-12.col-md-12
            .display-4.font-weight-bold What we do?
        - for( let i = 0; i < 4; i++ )
            .col.col-sm-12.col-md-6
                .card
                    .card-header
                        Header
                    .card-body
                        h5.card-title Title
                        p.card-text Content
                    .card-footer
                        Footer
        .col.col-md-12
            .btn.btn-warning Ask for Price
        